* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --roxo_escuro: #52357B;
    --roxo_claro: #5459AC;
    --verde_escuro: #648DB3;
    --verde_claro: #B2D8CE;
}
header {
margin: auto;
font-size: 2rem;
}

.menu{
    background-color: var(--roxo_claro);
    display: flex;
    text-align: center;
    justify-content: space-between;

}
 main {
    min-height: 100vh;
    padding: 2rem;
}