* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --roxo_claro: #B2A5FF;
}
header {
margin: auto;
font-size: 2rem;
}

.menu{
    background-color: var(--roxo_claro);
    display: flex;
    text-align: center;
    justify-content: space-between;

}